:root {
  --ion-color-primary: #1976d2;
  --ion-color-primary-rgb: 25, 118, 210;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1565c0;
  --ion-color-primary-tint: #1e88e5;
  --ion-color-secondary: #0097a7;
  --ion-color-danger: #d32f2f;
  --ion-color-success: #388e3c;
  --ion-color-warning: #fbc02d;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
